*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* display: flex; */

}
.container{
    display: flex;
}
.right-side{
    padding: 150px;
    /* border: 2px solid black; */
}

.img1{
    position: absolute;
    right: 300px;
    top: 100px;
}

.inp{
    position: absolute;
    right: 260px;
    top: 230px;
}
/* .logos{
    position: absolute;
    left: 200px;  
    top: 50px;  
} */
.left-side{
    border: 2px solid black;
}
p{
    display: flex;
    align-items: center ;
    justify-content: center;
}
.face-image{
    position: relative;
    left: 30px;
    top: 1px;
}
.point{
    position: absolute;
    top: 150px;
    right: 50px;
    margin-top: 0px;
}
.no-point{
    margin-top: 20px;
    /* position: absolute; */
    /* top: 200px; */
}
.login{
    position: absolute;
    top: -35px;
    right: 50px;
}
input{
    width: 250px;
    font-size: 15px;
}
button{
    width: 250px;
    font-size: 15px;
    background-color: blue;
    color: white;
    border-radius: 50px;
   
    }










.instagram-page{
    background-image: url(instagram\ ss.jpg);
    width: 400px;
    height: 300px;
    background-repeat: no-repeat;
    margin-top: 50px;
    margin-left: 250px;
    position: absolute;
    top: 100px;
    left: 100px;
   
  
}
h1{
    margin-top:     10px;
    margin-left: 200px;
    font-family: 'Times New Roman', Times, serif 
}
/* .facebook{
    flex-direction: column;
} */
 .with {
    color: blue;
 }
 .in{
    color: blue;
 }
 a{
    color: blue;
 }